@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <div>Segue alguns materiais de entity framework</div>
    <ul>
        <li>
            <a href="https://www.torneseumprogramador.com.br/busca?q=entity" target="_blank">
                Video aula torne-se um programador
            </a>
        </li>
        
        <li>
            <a href="https://www.learnentityframeworkcore.com/" target="_blank">
                Documentação entity
            </a>
        </li>
    </ul>
</div>
